<div id="main-page">
  <h2 class="label-info">Sign up to access the application!</h2>
  <form>
    <ul>
      <li>
        <input type="text"
               placeholder="Username"
               class="form-control"
               ng-model="user.username" />
      </li>
      <li>
        <input type="password"
               placeholder="Password"
               class="form-control"
               ng-model="user.password" />
      </li>
      <li>
        <input type="password"
               placeholder="Repeat password"
               class="form-control"
               ng-model="user.repeat_password"
               ng-change="doesPasswordMatch(user)" />
      </li>
      <li>
        <button class="btn signin" type="submit" ng-click="signIn()">Sign in</button>
        <button class="btn signup"
                type="submit"
                ng-click="signUp()"
                ng-disabled="!doesPasswordMatch(user)">Sign up</button>
      </li>
    </ul>
  </form>
</div>
